.galeria_categoria{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: fixed;
    width: 200px;
    height: 460px;
    color: #ffffff;
    background: rgb(71,175,88);
    background: -moz-linear-gradient(top, rgba(71,175,88,1) 1%, rgba(28,142,45,1) 42%, rgba(28,142,45,1) 99%);
    background: -webkit-linear-gradient(top, rgba(71,175,88,1) 1%,rgba(28,142,45,1) 42%,rgba(28,142,45,1) 99%);
    background: linear-gradient(to bottom, rgba(71,175,88,1) 1%,rgba(28,142,45,1) 42%,rgba(28,142,45,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47af58', endColorstr='#1c8e2d',GradientType=0 );
    border-radius: 10px;
}
.galeria_categoria a{
    text-decoration: none;
    color: #ffffff;
}
.galeria_mouseover{
    font-size: 150%;
}   
.galeria_click{
    font-size: 200%;
}
.galeria_info_imagem{
    padding: 2px;
    text-align: center;
}
.galeria_imagem_texto{
    position: relative;
    top: -40px;
    left:15px;
    color: #e4e4e4;
    text-decoration: none;
    width: 100px;
    height: 25px;
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.64) 0%, rgba(0,0,0,0.66) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3000000', endColorstr='#a8000000',GradientType=0 ); /* IE6-9 */
}
.galeria_imagem_texto a{
    text-decoration: none;
    color: green;
}
.galeria_imagem_pexel_box{
    position: relative;
    width: 400px;
    height: 300px;
    padding:0.2em;
    margin: 4px;
    text-align: center;
}
.galeria_imagem_pexel{
    position: relative;
    max-width: 400px;
    max-height: 300px;
    margin:auto;
    display: block;
    cursor: pointer;
}
.galeria_response_img{
    position: relative;
    max-width: 100em;
    padding:4.1em;
    border: 1px solid;
    border-color: rgb(82, 165, 100);
}
.categorias_menu_mobile img{
    display: none;
}
.galeria_carregando{
    position: relative;
    margin: auto;
    display: block;
}
.galeria_preco{
    position: relative;
    width: 30em;
    color: #6d6d6d;
}
.galeria_acervo_botao{
    position: absolute;
    display: none;
    padding: 50px;
    color: white;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.72) 0%, rgba(0,0,0,0.72) 1%, rgba(0,0,0,0.74) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.72) 1%,rgba(0,0,0,0.74) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.72) 1%,rgba(0,0,0,0.74) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8000000', endColorstr='#bd000000',GradientType=0 );
}

@media(max-width:1440px){

    .galeria_response_img{
        position: relative;
        max-width: 80em;
        padding:4.1em;
    }

}

@media(max-width:1024px){

    .galeria_response_img{
        max-width: 50em;
        margin-left: 18em;
    }
    
}

@media (max-width:768px){

    .galeria_imagem_pexel{
        position: relative;
        max-width: 300px;
        max-height: 300px;
        margin:auto;
        display: block;
        cursor: pointer;
    }

}
@media (max-width:425px){
    .galeria_imagem_pexel_box{
        width: 210px;
        height: 140px;
    }

    .galeria_imagem_pexel{
        position: relative;
        max-width: 200;
        margin-left: 0px;
        margin-top: 1px;
    }

    .galeria_response_img{
        max-width: 20em;
        margin-left: 7em;
        padding: 0px;
    }
    .container-fluid{
       padding: 0px;
       margin: 0px;    
    }

    .galeria_categoria{
        display: none;
        width: 100%;
        height: 100%; 
    }

    .categorias_menu_mobile img{
        position: fixed;
        display: block;
        width: 50px;
    }
    
    .galeria_acervo_botao{
        padding: 10px;
        top: 20%;
        left: 20%;
        transform: translate(-20%, -20%);
    }
    
}