.img_head{
    position: relative;
    width: 100%;
}
.img{
    position: relative;
    width: 100%;
}
.envelope{
    position: relative;
    top: 50px;
}
.galeria_categoria{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: fixed;
    width: 200px;
    height: 460px;
    color: #ffffff;
    background: rgb(71,175,88);
    background: -moz-linear-gradient(top, rgba(71,175,88,1) 1%, rgba(28,142,45,1) 42%, rgba(28,142,45,1) 99%);
    background: -webkit-linear-gradient(top, rgba(71,175,88,1) 1%,rgba(28,142,45,1) 42%,rgba(28,142,45,1) 99%);
    background: linear-gradient(to bottom, rgba(71,175,88,1) 1%,rgba(28,142,45,1) 42%,rgba(28,142,45,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47af58', endColorstr='#1c8e2d',GradientType=0 );
    border-radius: 10px;
}
.galeria_categoria a{
    text-decoration: none;
    color: #ffffff;
}
.galeria_mouseover{
    font-size: 150%;
}   
.galeria_click{
    font-size: 200%;
}
.galeria_info_imagem{
    padding: 2px;
    text-align: center;
}
.galeria_imagem_texto{
    position: relative;
    top: -40px;
    left:15px;
    color: #e4e4e4;
    text-decoration: none;
    width: 100px;
    height: 25px;
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.64) 0%, rgba(0,0,0,0.66) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3000000', endColorstr='#a8000000',GradientType=0 ); /* IE6-9 */
}
.galeria_imagem_texto a{
    text-decoration: none;
    color: green;
}
.categorias_menu_mobile{
    display: none;
}
.galeria_carregando{
    position: relative;
    margin: auto;
    display: block;
}
.galeria_preco{
    position: relative;
    width: 30em;
    color: #6d6d6d;
}
.galeria_acervo_botao{
    position: absolute;
    display: none;
    padding: 50px;
    color: white;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.72) 0%, rgba(0,0,0,0.72) 1%, rgba(0,0,0,0.74) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.72) 1%,rgba(0,0,0,0.74) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.72) 1%,rgba(0,0,0,0.74) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8000000', endColorstr='#bd000000',GradientType=0 );
}
.voltar_loja{
    position: relative;
    top: -150px;
    bottom: 40px;
    left: 920px;
}
.glyphicon-remove{
    float: right;
    cursor: pointer;
    display: none;
}
.pagination li a{
    color: rgb(71,175,88);
}
.pagination li a:hover{
    color: rgb(49, 136, 63)!important;
}

.botao_ativado{
    background-color: rgb(71,175,88)!important;
    color: white!important;
}

.head_texto{
    position: relative;
    font-size: 18;
    top: -150px;
    left: 280px;
    color: white;
    opacity: 0.8;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 800px;
    border-radius: 0!important;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.sub_categorias_over{

    background-color: rgb(71,175,88)!important;
    color: rgb(255, 255, 255)!important;
}

.sub_categorias{

    position: relative;
    bottom: 15px;

}

.sub_categorias span{

    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(71,175,88);
    margin: 5px;
    border: 1px solid rgb(71,175,88);
    border-radius: 6px;
    cursor: pointer;

}
.aba_favoritos{

    position: fixed;
    padding: 10px;
    z-index: 2;
    left: 600px;
    background-color: black;
    color: rgb(71,175,88);
    font-size: 15px;    
    border-radius: 6px;
    cursor: pointer;

}
.response{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
    flex: 33%;
    max-width: 35%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    cursor: pointer;
  }
  .overlay{
      position: relative;
      display: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.363);
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
@media(max-width:2560px){
    .aba_favoritos{
        left: 600px;
    }
}

@media(max-width:1440px){
    .aba_favoritos{
        left: 360px;
    }
}

@media(max-width:1024px){
    .voltar_loja{
        position: relative;
        top: -50px;
        left: 600px;
    }
}

@media (max-width:768px){
    .voltar_loja{
        top: -120px;
        
    }
    .aba_favoritos{
        left: 260px;
    }

}
@media (max-width:425px){
    .glyphicon-remove{
        float: right;
        cursor: pointer;
        display: block;
    }
    .categorias_menu_mobile{
        display: block;
        position: fixed;
        top: 20px;
        z-index: 1;
    }
    .galeria_categoria{
        display: none;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    .voltar_loja{
        position: relative;
        top: -100px;
        left: 250px;
    }
    .img_head{
        position: relative;
        max-width: 100em;
        padding:0em;
        padding-top:0em;
        left: -40px;
    }
    .head_texto{
        position: relative;
        font-size: 12;
        top: -0px;
        left: 5;
        color: rgb(73, 73, 73);  
        opacity: 1;
    }
}